* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(29, 29, 85);
}

.contenedor {
    height: 100vh;
}

header {
    background-color: rgb(202, 220, 235);
    height: 90px;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    border-bottom: solid rgb(177, 197, 214) 3px;
}

header img {
    height: 50px;
    width: 150px;
    cursor: pointer;
}


h1 {
    display: none;
}

main {
    height: calc(100% - 90px - 40px);
}

main>div {
    height: 25%;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
}

aside {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #566baf;
    background-image: linear-gradient(0deg, rgba(68,86,143,1) 0%, rgba(160,175,222,1) 100%);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 5%;
    bottom: 7%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

aside > img {
    display: block;
    width: 25px;
    transition: transform 0.5s ease-in-out;
}

aside:hover {
    background-color: #738ad5;
    background-image: linear-gradient(0deg, rgba(78,98,162,1) 0%, rgba(186,198,238,1) 100%);
}

aside>img:hover {
    transform: scale(105%);
}

footer {
    background-color: rgb(30, 30, 30);
    background-image: linear-gradient(360deg, rgba(2, 0, 36, 1) 44%, rgba(6, 17, 147, 1) 100%);
    color: whitesmoke;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.b1 {
    background-color: #566baf;
    background-image: linear-gradient(0deg, rgba(68,86,143,1) 0%, rgba(160,175,222,1) 100%);
    height: 25%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}


.b1 p {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
}

.b1 img {
    height: 95%;
    padding: 1rem;
    filter: drop-shadow(3px 5px 5px #22222298);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.b1:hover {
    background-color: #738ad5;
    background-image: linear-gradient(0deg, rgba(78,98,162,1) 0%, rgba(186,198,238,1) 100%);
    cursor: pointer;
}

.b1:active {
    background-color: #d59473;
    background-image: linear-gradient(0deg, rgb(156, 101, 28) 0%, rgb(219, 172, 109) 100%);
}


.b1>img:hover {
    transform: scale(105%);
}

.b2 {
    background-color: #8998C8;
    background-image: linear-gradient(0deg, rgba(68,86,143,1) 0%, rgba(160,175,222,1) 100%);
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b2 p {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.b2 img {
    height: 95%;
    padding: 1rem;
    filter: drop-shadow(3px 5px 5px #22222298);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.b2:hover {
    background-color: #9eaee1;
    background-image: linear-gradient(0deg, rgba(78,98,162,1) 0%, rgba(186,198,238,1) 100%);
    cursor: pointer;
}

.b2:active {
    background-color: #d59473;
    background-image: linear-gradient(0deg, rgb(156, 101, 28) 0%, rgb(219, 172, 109) 100%);
}

.b2>img:hover {
    transform: scale(105%);
}

.b3 {
    background-color: #8998C8;
    background-image: linear-gradient(0deg, rgba(68,86,143,1) 0%, rgba(160,175,222,1) 100%);
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b3 p {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    padding: 1.25rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.b3 img {
    height: 95%;
    padding: 1rem;
    filter: drop-shadow(3px 5px 5px #22222298);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.b3:hover {
    background-color: #9eaee1;
    background-image: linear-gradient(0deg, rgba(78,98,162,1) 0%, rgba(186,198,238,1) 100%);
    cursor: pointer;
}

.b3:active {
    background-color: #d59473;
    background-image: linear-gradient(0deg, rgb(156, 101, 28) 0%, rgb(219, 172, 109) 100%);
}

.b3>img:hover {
    transform: scale(105%);
}

.b4 {
    background-color: #8998C8;
    background-image: linear-gradient(0deg, rgba(68,86,143,1) 0%, rgba(160,175,222,1) 100%);
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b4 p {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.b4 img {
    height: 95%;
    padding: 1rem;
    filter: drop-shadow(3px 5px 5px #22222298);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.b4:hover {
    background-color: #9eaee1;
    background-image: linear-gradient(0deg, rgba(78,98,162,1) 0%, rgba(186,198,238,1) 100%);
    cursor: pointer;
}

.b4:active {
    background-color: #d59473;
    background-image: linear-gradient(0deg, rgb(156, 101, 28) 0%, rgb(219, 172, 109) 100%);
}

.b4>img:hover {
    transform: scale(105%);
}




@media screen and (min-width: 700px) {
    main {
        margin: 0 auto;
        max-width: 700px;
    }
}

/* @media screen and (min-width: 990px) {} */